.list-group {
    font-size: 24px;
    color: black;
    border: black solid 5px;
    display: flex;
    flex-direction: column;
}

#new-note {
    color: black;
    font-size: 18px;
    width: 120px;
    height: 50px;
}
#new-note:hover {
    border: black solid 2px;
}
/* .list-container {
    display: flex;
    flex-direction: column;
} */
/* .hide {
    display: none;
} */